@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body{
  background-color: #ede0D4;
  font-family: 'Raleway', sans-serif;
  color: #582f0e;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

h2{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
}

a {
  color: #936639;;
  text-decoration: none;
}
a:hover {
  color: #ede0D4;
}

.container {
  width: 600px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card{
  background: #c6ac8f;
  margin: 30px auto;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);    /* Light shadow */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
}

.btn-brown{
  background-color:#582f0e;
  padding: 10px;
  border-radius: 10px;
  color: #ede0D4;
  margin: 10px;
}
.btn-brown:hover{
  background-color: #936639;
}

.travel_img{
  width: 130px;
  padding: 10px;
}
.img-circle{
  border-radius: 50%;
  object-fit: cover;
  object-position: 44% 50%;
  width: 160px;
}

#text_center{
  text-align: center;
}

/* li */
.list-inline > li{
  display: inline-block;
  padding: 0;

}
/* ul */
.list-inline {
  list-style: none;
  padding-left: 0px;
}
li a{
  font-size: 25px;
  padding: 10px;
}
